
<div class="flex flex-col" style="height: calc(100% - 64px);">

    <div class="h-full pb-3 px-1">

        <div class="flex h-5/6">
        
            <div cdkDropList (cdkDropListDropped)="onDropMove($event)" cdkDropListOrientation="horizontal"
             [cdkDropListConnectedTo]="[deleteZone]" appVerticalScrollWithMouseDown id="boardsContainer"
             class="flex gap-4 my-3 mx-3 overflow-auto bg-[#212121] rounded py-2 px-2 border-2 border-slate-900 w-full"
             [cdkDropListData]="{isBoard: true}">
                <app-board cdkDrag *ngFor="let board of boards" [board]="board" [deleteZone]="deleteZone" [@fadeIn]
                 class="h-max min-w-[320px] border-[5px] border-transparent">
                    <mat-icon cdkDragHandle 
                     class="cursor-move scale-150">drag_indicator</mat-icon>
                </app-board>
        
                
            </div>
    
        </div>
    

        <div class="h-1/6 flex items-stretch gap-4 px-3">

            <div cdkDropList (cdkDropListDropped)="onDropDelete($event)" #deleteZone="cdkDropList" id="deleteZone"
             class="rounded border-4 gap-2 border-red-300 border-dashed flex brightness-50
            transition-all select-none tracking-widest overflow-hidden
             justify-center items-center flex-1 text-center">
                <mat-icon class="scale-[1.75] text-red-300">delete</mat-icon>
                <span class="font-bold text-xl text-red-300">DELETE</span>
                <span class="tracking-wide">(by dropping here)</span>
            </div>

            <button mat-button 
             class="tracking-widest hover:tracking-normal transition-all w-20 hover:brightness-105"
             (click)="createBoard()">
                <div class="flex flex-col justify-center items-center">
                    <div class="flex mt-4 mb-4">
                        <mat-icon class="scale-[3] text-[#FF8000]">view_kanban</mat-icon>
                        <mat-icon class="absolute translate-x-7 translate-y-6 scale-125">add</mat-icon>
                    </div>
                    <span class="font-bold h-6">NEW</span> 
                    <span class="font-bold h-6">KANBAN</span> 
                </div>
             </button>

        </div>

    </div>
</div>

