<div>
    
    <!-- Google Sign In Button -->
    <div class="flex justify-center mb-5 mt-6 mx-4">
        <button type="button" appGoogleSignin mat-raised-button
         class="bg-slate-100 hover:brightness-110 hover:scale-105 transition-all">
         <div class="flex py-3 px-1 gap-2.5 justify-center items-center">
             <img class="w-8" src="/assets/img/google-logo.svg" alt="Google Logo">
             <span class="font-bold text-lg text-slate-900 tracking-wide">Continue with Google</span>
         </div>
        </button>
    </div>

    <div class="text-center flex justify-center items-center mx-3">
        <div class="rounded h-[1px] flex-1 bg-gray-600"></div>
        <span class="items-center text-lg tracking-wider text-gray-300 mx-2">OR</span>
        <div class="rounded h-[1px] flex-1 bg-gray-600"></div>
    </div>
    
    
    <form *ngIf="isSignInPage" [formGroup]="form" (ngSubmit)="submitForm()" [@fadeIn]>
            <h1 class="ml-4 text-3xl tracking-wider">Sign In</h1>
            <div class="flex flex-col mx-4">
                <mat-form-field [floatLabel]="floatLabelControl.value" appearance="outline">
                    <mat-label>Email:</mat-label>
                    <input matInput formControlName="email" type="email">
                    <mat-error *ngIf="getEmail.invalid && getEmail.dirty">
                        You must enter a valid email address
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="flex flex-col mx-4 mt-0.5">
                <mat-form-field [floatLabel]="floatLabelControl.value" appearance="outline">
                    <mat-label>Password:</mat-label>
                    <input matInput formControlName="password" type="password">
                </mat-form-field>
            </div>
            <div class="flex justify-between items-center mr-4 ml-2">
                <button mat-button class="px-1.5" (click)="changePageType('createAcc')">
                    <span class="underline tracking-wider font-bold text-base text-gray-200">
                        Create Account
                    </span>
                </button>
                <button color="accent" mat-raised-button type="submit"
                 class="font-bold tracking-wider text-xl hover:brightness-110 transition-all py-3 px-5">Sign In</button>
            </div>
    </form>
        
    
    <form *ngIf="isCreateAccPage" [formGroup]="form" (ngSubmit)="submitForm()" [@fadeIn]>
        <h1 class="ml-4 text-3xl tracking-wider">Create Account</h1>
            <div class="flex flex-col mx-4">
                <mat-form-field [floatLabel]="floatLabelControl.value" appearance="outline">
                    <mat-label>Email:</mat-label>
                    <input matInput formControlName="email" type="email">
                    <mat-error *ngIf="getEmail.invalid && getEmail.dirty">
                        You must enter a valid email address
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="flex flex-col mx-4 mt-0.5">
                <mat-form-field [floatLabel]="floatLabelControl.value" appearance="outline">
                    <mat-label>Password:</mat-label>
                    <input matInput formControlName="password" type="password">
                </mat-form-field>
            </div>
            <div class="flex flex-col mx-4 mt-0.5">
                <mat-form-field [floatLabel]="floatLabelControl.value" appearance="outline">
                    <mat-label>Confirm password:</mat-label>
                    <input matInput formControlName="confPassword" type="password">
                </mat-form-field>
            </div>
            <div class="flex justify-between items-center mr-4 ml-2">
                <button mat-button class="px-1.5" (click)="changePageType('signIn')">
                    <span class="underline tracking-wider font-bold text-base text-gray-200">
                        Sign In
                    </span>
                </button>
                <button color="accent" mat-raised-button type="submit"
                 class="font-bold tracking-wider text-xl hover:brightness-110 transition-all py-3 px-2">Create Account</button>
            </div>
    </form>

</div>




