<div class="flex justify-center flex-col bg-neutral-900 pb-7">
    <div class="flex items-center self-center my-5 flex-wrap">
        <h1 class="text-6xl text-slate-100 pl-2">Welcome to </h1>
        <h1 class="text-4xl m-0 pl-6 flex justify-center items-center font-bold gap-3 logo">
            <mat-icon class="scale-[2.2] logo-icon">view_kanban</mat-icon>
            KanbanIT!
        </h1>
    </div>

    <div class="self-center text-slate-100 flex flex-col justify-center w-1/2">
        <h3 class="text-lg">This is just a simple Kanban related application (similar to Trello but very bare bones).</h3>
        <h6 class="text-lg">You can use the Kanban features after you sign in (you can sign in with Google).</h6>
        <h6 class="text-lg">This was a super fun project! I learned a bunch out of both the Angular framework and the Google Firebase BaaS.
        </h6>
        <h6 class="text-lg">
            There are certainly some small things that could be added and improved upon (404 redirection, better UI in certain pages, better color palette, etc.)
            but I have bunch of other projects that I need to attend to, which is why I can't keep coding and designing this to perfection.
        </h6>
    </div>
</div>