<mat-card class="h-full p-2.5">
      <div class="flex justify-between items-center mb-5">
        <h1 class="m-0 text-2xl">
          {{ board.title }}
        </h1>

        <!-- Slot for the handle -->
        <ng-content></ng-content>
      </div>

    <div
      class="flex flex-col gap-3"
      cdkDropList
      cdkDropListOrientation="vertical"
      (cdkDropListDropped)="onDrop($event)"
    >
      <div *ngFor="let task of board.tasks; let i = index" [@fadeIn]>
        <mat-card [ngClass]="task.label" class="flex justify-start items-center gap-3 min-h-[70px]" cdkDrag>
          <div class="flex justify-center items-center bg-slate-900 rounded p-1">
            <mat-icon cdkDragHandle class="cursor-move scale-125 text-white">
              drag_handle
            </mat-icon>
          </div>
          <span class="text-xl break-all" [ngClass]="task.label === 'gray' ? 'line-through' : ''">
            {{ task.description }} 
          </span> 
        </mat-card>
       
      </div>
      
      <div class="rounded relative">
        <mat-card class="flex justify-start items-center gap-3 blur-sm select-none brightness-50">
          <div class="flex justify-center items-center bg-slate-900 rounded p-1">
            <mat-icon class="scale-125">drag_handle</mat-icon>
          </div>
          <span class="text-lg">
            Lorem ipsum dolor sit.
          </span> 
        </mat-card>

        <div class="absolute content-center inset-0 flex items-stretch justify-center ">
          <button mat-stroked-button (click)="openNewTaskDialog()"
           class="flex-1 border-gray-900 tracking-wider hover:tracking-normal transition-all brightness-75 hover:brightness-100">
            <mat-icon class="scale-150 mb-0.5">add_circle_outline</mat-icon>
            <!-- <span class="ml-2 text-[16px] inline-block mb-0.5 font-bold">New Task</span> -->
          </button>
        </div>
      </div>

    </div>
  </mat-card>